.h-head {
   font-family: "SourceSansProLight";
   letter-spacing: 3px;
   color: #333b46;
   margin-bottom: 40px;
 }

.p-head {
  font-size: 14px;
  font-family: $main_font;
  color: #81868e;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 64px;
}